:root {
    color-scheme: light dark;
}

body {
    font-family: system-ui;
}

.color-option {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
  }

  #color-demo {
    display: flex;
    /* justify-content: flex-start; */
  }

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
